img:hover {
    cursor: pointer;
}
.return {
    position: absolute;
    right:90%;
    padding: 20px;
}

.add_btn{
  transition-duration: 0.4s;
  background-color: #acd8f07a;
  border: 0.5px solid rgba(102, 102, 102, 0.151);
  border-radius: 4px;
  font-weight: bold;
  color:black;
  font-size: 15px; 
  margin-left: 85%;
  max-width: 100px;
  max-height: 100px;
}
.add_btn:hover{
  background-color: rgb(250, 250, 250);
  border: 1px solid rgba(0, 212, 212, 0.514);
  color: black;
}

.exams_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #000;
  }

  .exams_table{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 400px;
    background-color: rgba(207, 227, 230, 0.329);
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}
  .table_left, .table_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(250, 251, 252, 0.637);
    width:350px;
    height: 350px;
    
  }
  .table_left{
    
   
  }
  .table_right{
    border-left: 1px solid #58565652;
    
  }

  .card_exam {
    text-align: left;
    width: 300px;
    height: 100px;
    margin-top: 10px;
    border-bottom: 1px solid #58565652;
    transition-duration: 0.4s;
    cursor:pointer;
  }

  .card_exam:hover{
    background-color: #acd8f07a;
  }
  .card_exam label{
    display:block;
    font-weight: bold;
  }
  .card_exam span{
    font-weight: normal;
  }
  
  .prev, .next{
    cursor: pointer;
    position: absolute;
    top: 65%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #ffffff3a;
  }

  
/* Position the "next button" to the right */
.next {
  right: 10px;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 10px;
  border-radius: 3px 0 0 3px;
  
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.329);
  color:rgb(255, 255, 255)
}
